:root {
  --accent-color: #de001e;
  --font-color: #747474;
  --icon-color: #ff5252;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  display: flex;
  padding: 20px;
  background: black;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  color: white;


}

.glass {
  padding: 20px;
  height: auto;
  margin-top: 30px;
  width: 350px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 10;
  backdrop-filter: blur(5px);
  text-align: center;
  animation : floating 1s ;
}

.bubble {
  width: 100px;
  height: 100px;
  background: linear-gradient(to top left, yellow, orangered);
  border-radius: 100%;
  top: 100px;
  position: absolute;
  z-index: -1;
  left: -10px;
}

.image img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.image {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}

.intro_glass i {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  margin-top: 25px;
}

span.intro_span {
  color: var(--accent-color);
  font-weight: bold;
  font-family: cursive;
  padding-left: 5px;
}

.intro_texts h6 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.intro_texts h1 {
  color: var(--accent-color);
  padding-bottom: 25px;
  animation-name:fadding;
  opacity: 0;
  animation-duration: 1s;
  animation-delay:0.5s;
  animation-fill-mode: forwards;
}

.intro_texts h3 {
  padding-bottom: 25px;
  opacity: 0;
  animation-name: fadding;
  animation-duration: 1s;
  animation-delay:0.9s;
  animation-fill-mode: forwards;
}

.intro_texts p {
  padding-bottom: 15px;
  color: var(--font-color);
  opacity: 0;
  animation-name: fadding;
  animation-duration: 1s;
  animation-delay:1s;
  animation-fill-mode: forwards;
}

.progress_cards_glass {
  margin: auto;
  width: 380px;
  height: auto;
  z-index: 1;
}

.progress_cards {
  width: 90%;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-align: center;
  margin-right: 30px;
  margin-top: 30px;
  z-index: 1;
  backdrop-filter: blur(5px);
  opacity: 0;
}

.progress_cards .icon_container {
  background: var(--accent-color);
  width: 100%;
  padding-bottom: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;


}

.icon_container i {
  font-size: 50px;
  padding: 15px;

}

.progress_percentage {
  padding-top: 100px;
  padding-bottom: 100px;
}

.progress_percentage h1 {
  font-size: 80px;
}

.about_progress {
  padding-bottom: 40px;
}

.about_progress p {
  color: var(--font-color);
}

.about_progress.editing p {
  padding: 10px;
  color: var(--font-color);
}

.about_progress.free_style p {
  color: var(--font-color);
  padding: 10px;
}

.bubble2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(to top left, yellow, orangered);
  border-radius: 100%;
  z-index: -1;
  position: absolute;
  margin-left: 150px;
  margin-top: 300px;
}

.bubble3 {
  width: 150px;
  height: 150px;
  background: linear-gradient(to top left, yellow, orangered);
  border-radius: 100%;
  z-index: -1;
  position: absolute;
  margin-left: 10px;
  margin-top: -40px;
}

.personal_glass {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  width: 340px;
  height: auto;
  z-index: 1;
  margin-top: 50px;
  margin-left: 10px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}


.personal_glass .text i {
  color: var(--icon-color);
  font-size: 30px;
  padding-left: 10px;
  margin: 5px;

}

.personal_glass .text i l,
p {
  padding-bottom: 10px;
  padding-top: 15px;

}

.personal_glass .text p {
  font-size: 20px;
  padding: 10px;
  color: var(--font-color);
}

.social_medias .social_medias_container i {
  color: var(--icon-color);
  font-size: 35px;
  padding: 15px;
  padding-bottom: 35px;
}

.social_medias {
  text-align: center;

}

.about_me_glass {
  background: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 340px;
  height: auto;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 10px;
}

.about_me_container{
  text-align: center;
}

.about_me_container_head {
  background: var(--accent-color);
  padding: 40px;
  border-radius: 10px 10px 0 0px;
}
.about_me_container_head h1 {
  font-weight: bold;
  font-size: 30px;
}

.about_me_container p {
  padding: 20px;
  padding-top: 30px;
  color: var(--font-color);
}


@keyframes floating{
  from{
    transform: translateY(-5px);
  }
  
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadding {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}